wf-restful/workspace/POApplication/WebContent/WEB-INF/wsdl/POApp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.demo.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="POApp"
	targetNamespace="http://ws.demo.com/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ws.demo.com/">
			<xsd:element name="submitPO">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="order" type="tns:Order" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="submitPOResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="invoice" type="tns:Invoice" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Order">
				<xsd:sequence>
					<xsd:element name="custName" type="xsd:string" />
					<xsd:element name="itemName" type="xsd:string" />
					<xsd:element name="itemQty" type="xsd:int" />
					<xsd:element name="itemPrice" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Invoice">
				<xsd:sequence>
					<xsd:element name="custName" type="xsd:string" />
					<xsd:element name="itemName" type="xsd:string" />
					<xsd:element name="totalPrice" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="submitPORequest">
		<wsdl:part element="tns:submitPO" name="parameters" />
	</wsdl:message>
	<wsdl:message name="submitPOResponse">
		<wsdl:part element="tns:submitPOResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="POApp">
		<wsdl:operation name="submitPO">
			<wsdl:input message="tns:submitPORequest" />
			<wsdl:output message="tns:submitPOResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="POAppSOAP" type="tns:POApp">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="submitPO">
			<soap:operation
				soapAction="http://ws.demo.com/submitPO" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="POAppService">
		<wsdl:port binding="tns:POAppSOAP" name="POAppPort">
			<soap:address
				location="http://localhost:8080/POApplication/po" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
